aws_dockerfile

###> symfony/framework-bundle ###
/.DS_Store/
/.idea/
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/Dockerfile
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/phpunit.xml.dist
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/tests/
/.idea
.idea