{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block meta_description %}{{ page.description }}{% endblock %}
{% block meta_keywords %}{{ page.keyword }}{% endblock %}

{% block body %}
    <section class="page-title py-4">
        <div class="text-center animate__animated  animate__fadeInDown">
            <h2 class="text-primary mb-3">About Us</h2>
        </div>
        <div class="text-center container animate__animated  animate__fadeInDown">
            <p class="text-secondary m-0">At Namadeva, we are committed to building a stronger tomorrow through decades of expertise in fabricating and supplying structural metals. As a family-run business with a rich legacy, we specialize in providing top-quality materials for construction projects & best-in-class fabrication services. Our dedication to excellence and innovation ensures that every product we deliver meets the highest standards of durability and performance.</p>
        </div>
    </section>

    <section class="vision">
        <div class="text-center animate__animated  animate__fadeInDown">
            <h2 class="text-primary mt-5 mb-3">Our Vision</h2>
        </div>
        <div class="text-center container animate__animated  animate__fadeInDown">
            <p class="text-secondary">To be the global leader in structural metal fabrication and supply, driving innovation and sustainability in construction, and building a stronger, more resilient world for future generations.</p>
        </div>
    </section>

    <section class="mission">
        <div class="text-center animate__animated  animate__fadeInDown">
            <h2 class="text-primary mt-5 mb-3">Our Mission</h2>
        </div>
        <div class="text-center container animate__animated  animate__fadeInDown">
            <p class="text-secondary">Our mission is to deliver superior-quality structural metals with unparalleled craftsmanship and service. We are dedicated to fostering long-term relationships with our clients by consistently exceeding their expectations through innovation, integrity, and a commitment to excellence. We aim to support and advance the construction industry by providing reliable, sustainable solutions that contribute to developing robust infrastructures worldwide.</p>
        </div>
    </section>

    <section class="meet-our-team mb-4">
        <div class="text-center animate__animated  animate__fadeInDown">
            <h2 class="text-primary mt-5 mb-3">Meet the Team</h2>
        </div>
        <div class="container directors d-flex flex-wrap justify-content-around">
            <div class="director text-center shadow p-3">
                <h3 class="text-secondary w-250">Bajarang Lal Didwania</h3>
                <h5 class="text-primary">Founder & Chairman</h5>
                <p class="text-black-50">Bajarang Lal Didwania, the visionary behind Namadeva, brings decades of industry experience and unwavering dedication. His leadership has been the cornerstone of our company's success and growth. Under his guidance, Namadeva has evolved into a trusted name in the steel industry, known for its commitment to quality and innovation. His passion for excellence and his forward-thinking approach continue to inspire the entire team.</p>
            </div>
            <div class="director text-center shadow p-3">
                <h3 class="text-secondary w-250">Anirudh Didwania</h3>
                <h5 class="text-primary">Head of Purchase and Sales</h5>
                <p class="text-black-50">Anirudh Didwania expertly manages our purchase and sales operations, ensuring that every client receives top-quality materials. His strategic insight and commitment to excellence drive our operational success. With a keen eye for market trends and a strong network of suppliers, Anirudh ensures that Namadeva consistently meets and exceeds customer expectations. His dedication to maintaining the highest standards of service is a key pillar of our business.</p>
            </div>
            <div class="director text-center shadow p-3">
                <h3 class="text-secondary w-250">Nakul Didwania</h3>
                <h5 class="text-primary">Director of Marketing & Sales</h5>
                <p class="text-black-50">Nakul Didwania leads our marketing and sales initiatives, focusing on expanding Namadeva's reach and enhancing our brand. His innovative strategies and customer-first approach propel our growth and market presence. Nakul's expertise in market analysis and his creative vision have been instrumental in positioning Namadeva as a leader in the steel industry. His commitment to building strong client relationships and driving sales growth is unmatched.</p>
            </div>
            <div class="director text-center shadow p-3">
                <h3 class="text-secondary w-250">Rahul Didwania</h3>
                <h5 class="text-primary">Business Development</h5>
                <p class="text-black-50">Rahul Didwania drives our business development efforts, identifying new opportunities and fostering valuable partnerships. His dynamic approach and industry acumen play a vital role in our continuous expansion and success. Rahul's proactive mindset and strategic planning skills enable Namadeva to explore new markets and develop innovative solutions. His focus on long-term growth and sustainability ensures that Namadeva remains at the forefront of the industry.</p>
            </div>
        </div>
    </section>

{% endblock %}